body {
  background: rgb(67, 69, 112);
    height: 100vh;
    margin: 0;
    font-family: 'Secular One', sans-serif;
    overflow: hidden;
  }
  h1{
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #0d28c0;
  }
  
  a:hover{
    color: #071561;
  }
  
  .main-container {
    /* margin-top:100px; */
    display: flex;
    width: 70%;
    height: 600px;
    min-height: 80vh;
    background-color: white;
    margin: 7vh auto;
    border-radius: 12px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
    /* margin-top: 10px; */
  }
  
  .main-container .hidden{
    display: none;
  }
  
  .login-link {
    color: #777;
  }
  
  .login-link:hover {
    color: #333;
    cursor: pointer;
  }
  
  .left-container {
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  left-container > * {
    transition: all 0.3s;
  }
  
  .right-container {
    width: 60%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1519408469771-2586093c3f14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2147&q=80');
    background-position: center;
    background-size: cover;
    border-radius: 0 10px 10px 0;
  }
  .signup-form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-form input {
    border-radius: 200px;
    padding: 5px 15px;
    height: 3rem;
    font-size: 1rem;
    background-color: #ddd;
    color: #444;
    border: none;
  }
  
  .signup-form input {
    display: block;
    margin-top: 1rem;
    width: 100%;
    font-family: inherit;
  }
  
  .signup-form input.first-name,
  .signup-form input.last-name {
    width: 48%;
  }
  
  .signup-form input:focus {
    outline: none;
  }
  
  .signup-form input[type='checkbox']{
    margin: 1rem 0.5rem 1rem 0;
  }
  
  .signup-form input[type='checkbox'],
  .signup-form input[type='checkbox'] + label {
    display: inline-block;
    width: auto;
  }
  
  .signup-form .check{
    display: flex;
    align-items: center;
  }
  
  .signup-form button {
    color: white;
    background-color: #bf360c;
    border: none;
    padding: 1rem;
    font-family: inherit;
    border-radius: 10px;
    font-size: 1.5rem;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
  }
  
  .signup-form button:hover{
    background-color: #83260a;
    cursor: pointer;
  }
  
  button.disabled {
    color: grey;
    background-color: darkgrey;
  }
  
  button.disabled:hover {
    color: grey;
    background-color: darkgrey;
    cursor: unset;
  }
  
  .signin-link {
    color: #777;
  }
  
  .signin-link:hover {
    color: #333;
    cursor: pointer;
  }
  
  @media (max-width:1240px){
    .left-container{
      width: 50%;
    }
    .right-container{
      width: 50%;
    }
  }
  
  @media (max-width:970px){
    .signup-form button{
      font-size: 1rem;
    }
    .signup-form input[type="checkbox"] + label{
      font-size: 0.8rem;
    }
    .signin-link{
      font-size: 0.8rem;
    }
  }
  
  @media (max-width:950px) {
    .left-container{
      width: 100%;
      border-radius: 10px;
    }
    .main-container h1{
      font-size: 1.5rem;
      margin-top: 0.5rem;
    }
    .signup-form input{
      margin-top: 0.5rem;
    }
    .right-container{
      display: none;
    }
  }
  
  @media (max-width:550px){
    .main-container{
      width: 90%;
      left: 5%;
    }
  }

 