* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* color: #5684ee; */
    /* background: linear-gradient(0deg, rgba(176, 195, 234, .2) 0%, #ffffff 100%); */
    /* background-color: blue; */
  }
  
  span {
    color: #5684ee;
    font-weight: 600;
    font-size: .8rem;
  }
  
  input {
    border: 1px solid rgba(86, 132, 238, .3);
    padding: 9px;
    color: #5684ee;
    border-radius: 3px;
    transition: border .3s linear;
    display: block;
    width: 10%;
  }
  
  input:focus {
    border-color: rgba(86, 132, 238, .7);
  }

  .button{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 1rem;
    color: white;
    font-weight: 600;
    text-align: center;
  }
  .task-title{
    background: rgb(86, 80, 80);
  
  }
  .title-container{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

  }
  .card{
    background-color: white;
    box-shadow: 1px 1px 25px rgba(86, 132, 238, .3);
    /* border-radius: 5%; */
  }